* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100%;
    flex-direction: column;
}

html{
    height: 100%;
}

/* 1. Header */

main {
    flex: 1 0 auto;
}

.header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__inner {
    max-width: 1280px;
    margin: 0 auto;
}

.header__logo-container {
    width: 100px;
    height: 60px;
    float: left;
    margin: 10px 0;
}

.header__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav {
    float: right;
}

.header__nav-item1 {
    display: inline-block;
    text-decoration: none;
    color:  #ff0000;
    font-weight: 600;
    font-size: 18px;
    margin-right: 60px;
    line-height: 50px;
    margin: 15px 0;
    cursor: pointer;
}

.header__nav-item2 {
    display: inline-block;
    text-decoration: none;
    color:  #000000;
    font-weight: 600;
    font-size: 18px;
    margin-right: 60px;
    line-height: 50px;
    margin: 15px 0;
}

.header__nav-item2:hover{
        color: #ff0000;
}

/* 2.Hero section */

.section-hero {
    background-image: url(images/hero.jpeg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 80px;
    position: relative;
}

.section-hero__overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}

.section-hero__content {
    max-width: 1280px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.section-hero__heading{
    color:#e4b43c;
    line-height: 140%;
    width: 500px;
    margin-bottom: 30px;
}

.section-hero__subheading{
    width: 800px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

/* 3. Section Featured events */

.section {
    width: 1200px;
    padding: 80px 0;
    margin: 0 auto;
}

.section__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

.events__event {
    width: 350px;
    padding: 20px;
    border-radius: 6px;
    margin-right: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    float:left;
}

.event__event:last-child {
    margin-right: 0;
}

.events__event:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.events__event-figure {
    width: 100%;
    height: 220px;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.events__event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3{
    margin-bottom: 10px;
}

.events__event-description{
    margin-bottom: 20px;
}

.button {
    width: 100%;
    line-height: 40px;
    border: 1px solid #d33e3e;
    border-radius: 6px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #d33e3e;
    color: #ffffff;
    transition: all 0.3s ease-out;
}

.button:hover {
    cursor: pointer;
    border-color: #e4b43c;
    background: #e4b43c;
}

/* 4. Footer */

.footer {
    width: 100%;
    background-color: #333333;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #d0d0d0;
    font-size:14px;
    text-align: center;
    position:absolute;
    margin-top: 400px;
}

/* General nesto */

.section{
    padding: 80px 0;
    max-width: 1280px;
    font-weight: 600;
    margin-bottom: 40px;
}

.section__title{
    text-align: center;

    font-size: 32px;
    font-weight: 600;
    margin-top: 40px;
}

/* Event page */


.section-event{
    display: grid;
    grid-template-rows: 48px;
    row-gap: 48px;
    padding: 64px 15px;
}

@media screen and (min-width: 576px) {
    .section-events{
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        padding: 80px 32px;
    }
}

@media screen and (min-width: 1024px) {
    .section-events{
        grid-template-columns: repeat(3, 1fr);
        padding: 80px 0;
        max-width: 930px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1300px) {
    .section-events{
        grid-template-columns: repeat(4, 1fr);
        max-width: 1280px;
    }
}

.event-card {
    border: 1px solid #d0d0d0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 6px;
    padding: 10px;
}
.event-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.event-card__title {
    font-size: 18px;
    padding: 10px 0 20px;
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
    margin-bottom: 15px;
}

.event-card__content {
    margin-bottom: 15px;
}

.event-card__content-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.event-card__content-row:last-child {
    margin-bottom: 0;
}

.event-card__item:last-child {
    text-align: right;
}

.event-card__item-title {
    font-size: 12px;
    margin-bottom: 4px;
}

.event-card__item-value {
    font-size: 12px;
}

/*event page*/

.event-title{
    text-align: center;
}

.section-events {
    padding: 0 15px 64px;
}

.event-info__figure{
    width: 100%;
    height: 230px;
    margin-bottom: 24px;
}

.event-info__figure-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info__content {
    margin-bottom: 15px;
}

.event-info__content-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.event-info__content-row:last-child {
    margin-bottom: 0;
}

.event-info__item-title {
    font-size: 14px;
    margin-bottom: 4px;
}

.event-info__item-value {
    font-size: 14px;
}

.event-info__description {
    font-size: 16px;
    line-height: 150%;

}

.event-info__item:last-child {
    text-align: right;
}

@media screen and (min-width: 500px) {
    .event-info__figure {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .section-event {
        padding: 0 25px 65px;
    }
    .event-info {
        display: flex;
        justify-content: space-between;
    }
    .event-info__figure {
        height: 230px;
        width: 400px;
    }
    .event-info__content {
        margin-bottom: 0;
        width: 270px;
    }
    .event-info__content-row {
        margin-bottom: 32px;
    }
    .event-info__item-title {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .event-info__description {
        width: 400px;
        }
}


@media screen and (min-width: 1024px) {
    .section-event {
        margin: 0 auto;
        padding: 0 0 64px;
        max-width: 930px;
    }
    .event-info__figure {
        height: 350px;
        width: 600px;
    }
    .event-info__content {
        width: 300px;
    }
    .event-info__content-row {
        margin-bottom: 32px;
    }
    .event-info__item-title {
        font-size: 16px;
    }
    .event-info__item-value {
        font-size: 16px;
    }
    .event-info__description {
        width: 600px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1300px) {
    .section-event {
        max-width: 1280px;
    }
    .event-info__figure {
        height: 450px;
        width: 800px;
    }
    .event-info__content {
        width: 400px;
    }
    .event-info__description {
        width: 800px;
    }
}
